.tabela {
    background-color: #ffffff;
}
.tabela__image {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}
.tabela td{
    width:150px;
    height:150px;
    border-top-color: #870100;
}